.ipynb_checkpoints
.vscode
Thumbs.db

# pkl (AI 모델)
*.pkl

# dataset
dataset_final.csv
dataset_final*.csv

# env
.env
*.env
.kis_token.json
collect_data/seongsu/temp.py

# python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# venv
venv/
.venv/
env/

# ide
.vscode/
.idea/

# os
.DS_Store
Thumbs.dbm